@media screen and (max-width:1000px){
    .main-body{

        display: flex;
        align-items: center;
        justify-content: center;
        height: 580px;
        width: 100%;
    }


}

@media screen and (max-width:760px){
    .main-image-displayed{
        display: none;
    }
    .sign-in-box{
        margin: auto;

    }

    .footer-content-area{
    width: 100%;
   
}
} 
